<section class="banner-container">
  <div class="container-banner">
    <div class="banner-image"> <img src="images/background-banner-top.png"/>
    </div>
    <div class="page-banner-text-center">
        <h5>Find your Favorite</h5>
        <div class="title">
            <h1>RECIPES</h1>
        </div>
        <div class="btn-start">
            <button>GET STARTED</button>
        </div>
        <div class="text">
            <p>OR SEND US YOUR OWN RECIPES AND GET REWARDED!</p>
        </div>
    </div>  
  </div>
</section>